@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #335063;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.title {
  font-size: 36px;
}

.sub-title {
  font-size: 28px;
}

p, ul, ol {
  font-size: 18px;
}

.navbar {
  padding: 5px;
  background-color: #434874;
}
.navbar .navlist {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.navbar .navlist .list-item {
  display: flex;
  padding: 25px;
  justify-content: space-evenly;
  align-items: center;
}
.navbar .navlist .list-item:nth-child(1) {
  margin-right: auto;
}
.navbar .navlist .list-item .navlink {
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
}
.navbar .navlist .list-item .navlink:hover {
  color: #C6A680;
  border-bottom: 1px solid #C6A680;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
          animation: neon5 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4392156863), 0 0 20px rgba(255, 255, 255, 0.4392156863), 0 0 30px rgba(255, 255, 255, 0.4392156863), 0 0 40px rgba(255, 153, 0, 0.6431372549), 0 0 70px rgba(255, 153, 0, 0.6431372549), 0 0 80px rgba(255, 153, 0, 0.6431372549), 0 0 100px rgba(255, 153, 0, 0.6431372549), 0 0 150px rgba(255, 153, 0, 0.6431372549);
  }
  to {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4392156863), 0 0 10px rgba(255, 255, 255, 0.4392156863), 0 0 15px rgba(255, 255, 255, 0.4392156863), 0 0 20px rgba(255, 153, 0, 0.6431372549), 0 0 35px rgba(255, 153, 0, 0.6431372549), 0 0 40px rgba(255, 153, 0, 0.6431372549), 0 0 50px rgba(255, 153, 0, 0.6431372549), 0 0 75px rgba(255, 153, 0, 0.6431372549);
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4392156863), 0 0 20px rgba(255, 255, 255, 0.4392156863), 0 0 30px rgba(255, 255, 255, 0.4392156863), 0 0 40px rgba(255, 153, 0, 0.6431372549), 0 0 70px rgba(255, 153, 0, 0.6431372549), 0 0 80px rgba(255, 153, 0, 0.6431372549), 0 0 100px rgba(255, 153, 0, 0.6431372549), 0 0 150px rgba(255, 153, 0, 0.6431372549);
  }
  to {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4392156863), 0 0 10px rgba(255, 255, 255, 0.4392156863), 0 0 15px rgba(255, 255, 255, 0.4392156863), 0 0 20px rgba(255, 153, 0, 0.6431372549), 0 0 35px rgba(255, 153, 0, 0.6431372549), 0 0 40px rgba(255, 153, 0, 0.6431372549), 0 0 50px rgba(255, 153, 0, 0.6431372549), 0 0 75px rgba(255, 153, 0, 0.6431372549);
  }
}
.navbar .navlist .list-item .navlink .logo {
  height: 50px;
  width: 50px;
  background-color: #F6F6F5;
}
.navbar .navlink {
  color: #F6F6F5;
}
.navbar .navlink:first-child {
  justify-content: flex-start;
}

.error-popup {
  background-color: red;
  color: #F6F6F5;
  height: 50px;
  width: 100%;
}

.box {
  background-color: #C6A680;
  height: 200px;
  width: 146.52px;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px #434874, -2px -2px 8px 2px rgba(255, 255, 255, 0.1), 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.big-box {
  background-color: #C6A680;
  height: 200px;
  width: 146.52px;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px #434874, -2px -2px 8px 2px rgba(255, 255, 255, 0.1), 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.test {
  color: #F6F6F5;
}
.test:hover {
  color: #babab2;
}

.ghost {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  background-color: white;
  filter: blur(1rem);
  opacity: 50%;
}
.ghost p {
  font-size: 36px;
}

.major-warning {
  background-color: orange;
  color: #F6F6F5;
  height: 100px;
}

.major-warning {
  border: 4px solid black;
}/*# sourceMappingURL=styles.css.map */